.business > .contents {
  width: 100%;
  max-width: 1040px;
  margin: 0 auto;
  padding: 100px 0;
}
.business > .contents > h6 {
  font-size: 18px;
  color: #757575;
  margin-bottom: 10px;
}
.business > .contents > h2 {
  font-size: 48px;
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: 10px;
}
.business > .contents > article {
  width: 100%;
  display: flex;
  gap: 30px;
  margin-bottom: 50px;
}
.business > .contents > article > .card {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.business > .contents > article > .card > .album {
  width: 100%;
  height: 400px;
  overflow: hidden;
}
.business > .contents > article > .card > .album > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: all 0.5s;
}

.business > .contents > article > .card > .album > img:hover {
  transform: scale(1.05);
}

.business > .contents > article > .card > p {
  font-size: 24px;
  font-weight: bold;
}
.business > .contents > article > .card > span {
  font-size: 16px;
  color: #757575;
}
.business > .contents > div {
  text-align: center;
}

.business > .contents > div > .more {
  background-color: #fff2ea;
  color: #ff5160;
  width: fit-content;
  padding: 20px 100px;
  border-radius: 10px;
}

.business > .contents > div > .more:hover {
  background-color: #ffe5dc;
}

@media screen and (max-width: 480px) {
  .business > .contents {
    max-width: 340px;
  }
  .business > .contents > h2 {
    font-size: 37px;
  }
  .business > .contents > article {
    flex-direction: column;
    gap: 30px;
  }
  .business > .contents > article > .card > .album {
    height: 340px;
    border-radius: 10px;
  }
  .business > .contents > article > .card > p {
    font-size: 18px;
  }
}
